---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Gallery">
    <section
        class="py-10 max-w-7xl mx-auto grid grid-cols-2 dark:text-zinc-100">
        <div class="col-span-2">
            <h1
                class="mt-28 text-3xl lg:text-5xl font-bold text-center max-w-lg mx-auto leading-[1.2]">
                Simplicity. <br /> Aesthetics. Value.
            </h1>
            <p
                class="mt-2 max-w-lg mx-auto flex justify-center text-zinc-600 text-base px-4 lg:px-0 lg:text-lg text-center font-medium dark:text-zinc-400">
                I'm a Frontend Developer & Student focused on application for
                brands that like to have fun.
            </p>
        </div>
    </section>
</Layout>
