---
import { Image } from "@astrojs/image/components";

const response = await fetch(import.meta.env.GRAPHCMS_URL, {
    method: "POST",
    headers: {
        "Content-Type": "application/json",
        Accept: "application/json",
    },
    body: JSON.stringify({
        query: `
        {
            galleries(first:9) {
                id
                image{
                    url
                    height
                    width
                }
            }
        }

      	`,
    }),
});

const { data } = await response.json();
---

<div class="mt-20 lg:mt-0">
    <h1
        class="hidden lg:block mt-12 text-5xl font-bold text-center dark:text-zinc-50">
        Everyone loves beautiful images.
    </h1>
    <h1
        class="lg:hidden mt-26 text-3xl font-bold text-center leading-[1.4] dark:text-zinc-50">
        Everyone loves <br /> beautiful images.
    </h1>
    <h4
        class="mt-2 mx-auto flex justify-center text-zinc-600 text-base px-4 lg:px-0 lg:text-lg text-center font-medium dark:text-zinc-400">
        I'm no exception. <br />
    </h4>
</div>

<h3
    class="hidden lg:flex mt-14 mx-auto justify-center text-zinc-600 text-base px-4 lg:px-0 lg:text-2xl text-center font-medium dark:text-zinc-400">
    <p class="inline-block">
        Here's my images generated using
        <a
            class="hover:text-black dark:hover:text-white transition"
            href="https://openai.com/dall-e-2/">DALL·E 2 AI system</a
        >.
    </p>
</h3>
<h3
    class="lg:hidden mt-16 mx-auto justify-center flex text-zinc-600 text-base px-4 lg:px-0 lg:text-2xl text-center font-medium dark:text-zinc-400">
    <p class="inline-block">
        Here's my images generated<br />using DALL·E 2 AI system.
    </p>
</h3>

<div class="max-w-7xl mx-auto mb-24">
    <div class="columns-1 md:columns-2 lg:columns-3 py-10 gap-10">
        {
            data.galleries.map(({ image }: any) => (
                <Image
                    class={
                        " mb-6 overflow-hidden rounded-md px-6 lg:mb-10 lg:px-0"
                    }
                    format="webp"
                    src={image.url}
                    width={image.width}
                    height={image.height}
                    alt="Image"
                />
            ))
        }
    </div>
</div>
