---
    import DarkMode from "./DarkMode.tsx"
---

<nav>
    <div class="max-w-7xl mx-auto py-10 flex justify-between">
        <h1 class="dark:text-white font-[800] tracking-tight text-2xl">ezrachai</h1>
        <DarkMode client:only="react"/>
    </div>
</nav>