---
import DarkMode from "./DarkMode.tsx";
import { Image } from 'astro:assets'
import ezra from "../assets/ezra.png"
---

<header class="lg:max-w-7xl mx-auto mb-5 lg:mb-10">
    <div class="flex justify-between">
        <div class="flex items-center">
            <div
                class="ml-2 md:ml-0 rounded-full h-9 w-9 md:h-8 md:w-8 overflow-hidden">
                <Image src={ezra} alt="logo for the ezrachai." />
            </div>
            <h1
                class="hidden md:block dark:text-white mb-[0.4rem] text-black font-[700] ml-4 text-2xl py-4">
                ezrachai.
            </h1>
        </div>
        <nav class="py-4 lg:py-6 flex px-3 lg:px-8">
            <DarkMode client:only="react" />
        </nav>
    </div>
    <hr class="dark:text-zinc-300" />
</header>
