---
    import DarkMode from "./DarkMode.tsx"
---

<nav>
    <div class="lg:max-w-7xl mx-auto py-6 flex justify-between">
        <h1 class="dark:text-white font-[800] px-3 lg:px-0 tracking-tight text-xl lg:text-2xl">ezrachai</h1>
        <div class="flex px-3 lg:px-0">
            <DarkMode client:only="react"/>
        </div>
    </div>
</nav>