---
import WorkExample from "./WorkExample.astro";
const { works } = Astro.props;
---

<div class="lg:mt-15">
  <div
    class="text-3xl lg:text-5xl dark:text-zinc-100 font-bold text-center max-w-lg mx-auto leading-[1.2]">
    My work.
  </div>
  <div class="pt-6 lg:pt-20 lg:pb-32">
    {
      works.map((work: any) => (
        <WorkExample
          title={work.header}
          link={work.url}
          body={work.body}
          image={work.image}
        />
      ))
    }
  </div>
</div>
