---
export interface Props {
    title: string;
}

import "@fontsource/raleway/variable-full.css";
import Navbar from "../components/navbar.astro";
import Footer from "../components/footer.astro";

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta
            name="description"
            content="Ezra Chai's personal page that shows what he does in his carrier and his motif."
        />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
    </head>
    <body class="dark:bg-zinc-900">
        <Navbar />
        <slot />
        <Footer />
        <script is:inline>
            const theme = (() => {
                if (
                    typeof localStorage !== "undefined" &&
                    localStorage.getItem("theme")
                ) {
                    return localStorage.getItem("theme");
                }
            })();

            if (theme === "light") {
                document.documentElement.classList.remove("dark");
            } else {
                document.documentElement.classList.add("dark");
            }
            window.localStorage.setItem("theme", theme);
        </script>
        <!-- Cloudflare Web Analytics -->
        <script
            type="text/partytown"
            defer
            src="https://static.cloudflareinsights.com/beacon.min.js"
            data-cf-beacon={`{\"token\": \"fa93cddceb334dcc8562682931b9acb4\"}`}
        ></script><!-- End Cloudflare Web Analytics -->
        <style>
            html {
                font-family: "Raleway", system-ui, sans-serif !important;
            }

            * {
                scrollbar-width: thin;
                scrollbar-color: black white;
            }

            *::-webkit-scrollbar {
                width: 12px; /* width of the entire scrollbar */
            }

            *::-webkit-scrollbar-track {
                @apply bg-white dark:bg-black; /* color of the tracking area */
            }

            *::-webkit-scrollbar-thumb {
                border: 3px solid black; /* creates padding around scroll thumb */
                @apply rounded-full border-white bg-black dark:border-black dark:bg-white;
            }
        </style>
    </body>
</html>
